<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.WaterBillMapper">

    <select id="getUserPhoneWithName" resultType="com.example.backend.pojo.entity.User">
        select phone,name
        from water_bill
            join user on water_bill.user_id = user.id
        where status = #{code}
    </select>
    <select id="selectExcel" resultType="com.example.backend.pojo.excelVo.BillExcel">
        select name,
               wb.time,wb.price,wb.summation,wb.cost,wb.status,
               wm.previous_reading,wm.reading,
               b.building_num,b.floor,b.doorplate
        from water_bill wb
                 join user on wb.user_id = user.id
                 join building b on b.id = wb.building_id
                 join water_meter wm on wb.water_meter_id = wm.id
        where wb.time BETWEEN #{startOfMonth} AND #{endOfMonth}
        order by b.id
    </select>
    <select id="getMonthlySummation" resultType="com.example.backend.pojo.vo.DataItem">
        SELECT DATE_FORMAT(time, '%Y-%m') AS time, SUM(summation) AS num, ROUND(AVG(summation)) AS avg_num
        FROM water_bill
        WHERE time BETWEEN #{start} AND #{end}
        GROUP BY DATE_FORMAT(time, '%Y-%m')
        ORDER BY time
    </select>
    <select id="getCostStatistics" resultType="com.example.backend.pojo.vo.DataItem">
        SELECT DATE_FORMAT(time, '%Y-%m') AS time, SUM(cost) AS num, ROUND(AVG(cost)) AS avg_num
        FROM water_bill
        WHERE time BETWEEN #{start} AND #{end}
        GROUP BY DATE_FORMAT(time, '%Y-%m')
        ORDER BY time
    </select>
    <select id="getBillStatusPieChart" resultType="com.example.backend.pojo.vo.PieChartVo">
        SELECT status as name, COUNT(*) AS value
        FROM water_bill
        WHERE time BETWEEN #{firstDayOfLastMonth} AND #{lastDayOfLastMonth}
          AND status != 2  -- 排除status为1的记录,即退款的
        GROUP BY name
        ORDER BY name
    </select>
</mapper>
